
    <div class="footer bg-secondary p-5">
        <div class="header me-auto">
            <h3>Get The FreshCart App</h3>
            <p>We Will Send You a link, open it in Your Phone To Download The App</p>
        </div>
        <div class="form d-flex justify-content-evenly align-items-center">
            <input placeholder="Email..." type="email" class="form-control w-75">
            <button class="btn bg-main mb-3">Share App Link</button>
        </div>
        
        
        <div class="icons d-flex justify-content-between align-items-center">
            <div class="visa">
                <p>Payment Parenter</p>
            </div>
            <div class="Stores">
                <p>Get Deliverires with FreshMarket</p>

            </div>
        </div>
        

        <div class="signture text-center bg-main">
            Made By Mohy@2023
        </div>
        </div>