<div>
    <div class="row  align-items-center">
        <div class="col-md-4">
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let image of productDetails.images">
                    <ng-template carouselSlide>
                        <img [src]="image">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
        <div class="col-md-8">
            <h2 class="h4 fw-bolder mb-2">{{productDetails.title}}</h2>
            <p class="text-muted p-3">{{productDetails.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    {{productDetails.price | currency :"Egp"}}
                </span>
                <div>
                    <i class="fa-solid rating-color fa-star"></i>
                    {{productDetails.ratingsAverage}}
                </div>


            </div>
            <button class="btn bg-main text-white my-2 w-100">+ Add </button>

        </div>
    </div>
</div>