<div class="mx-auto w-75 py-4 ">

    <form (ngSubmit)="handleChangePassword(changePasswordForm)" [formGroup]="changePasswordForm">

        <label for="currentPassword">Current Password</label>
        <input formControlName="currentPassword" type="password" class="form-control mb-3">
        <div class="alert alert-danger" *ngIf="changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched" >
            <p>Cureent Password Required</p>
        </div>
        <label for=" newPassword">New Password</label>
            <input formControlName="password" type="password" class="form-control mb-3">
            <div class="alert alert-danger" *ngIf="changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched">
                <p> Password Required</p>
            </div>
            <label for="reNewPassword">Re Password</label>
            <input formControlName="rePassword" type="password" class="form-control mb-3">
            <div class="alert alert-danger" *ngIf="changePasswordForm.get('rePassword')?.errors && changePasswordForm.get('rePassword')?.touched">
                <p>Re Password Required</p>
            </div>

            <button class="btn bg-main text-white" type="submit">
                <i *ngIf="isLoading" class="fa-solid fa-spin fa-spinner"></i>

                <span *ngIf="!isLoading"> Change Password</span></button>

    </form>
</div>