<div class="w-75 mx-auto ">
  <form [formGroup]="shippinAdd" (ngSubmit)="handleOnlinePay()">

    <label for="details">Details</label>
    <input type="text" class="form-control mb-3" formControlName="details" id="details">


    <label for="details">Phone</label>
    <input type="tel" class="form-control mb-3" formControlName="phone" id="phone">



    <label for="details">City</label>
    <input type="text" class="form-control mb-3" formControlName="city" id="city">

    <button class="btn btn-outline-info w-100">Pay </button>
  </form>

</div>
